.productSearchContainer {
  width: 100%;
  max-width: 1000px;
  margin: 20px auto;
  display: flex;
  justify-content: center;
}

.productSearchContainer input {
  width: 100%;
  max-width: 500px;
  padding: 10px;
  border: 1px solid #dee2e6;
  border-radius: 5px;
  box-sizing: border-box;
}
