.product-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #f8f9fa;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 1000px;
  margin: 20px auto;
  box-sizing: border-box;
  position: relative;
}

.back-button {
  position: absolute;
  top: 20px;
  left: 20px;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.back-button:hover {
  background-color: #0056b3;
}

.product-title {
  margin-top: 60px;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}

.product-detail-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.product-image {
  max-width: 100%;
  border-radius: 8px;
  margin: 20px 0;
}

.product-description {
  margin-bottom: 20px;
  text-align: center;
}

.product-info {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.product-info h2 {
  margin-bottom: 10px;
}

.product-info p {
  margin-bottom: 10px;
}

.product-price-add-to-cart {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 400px;
}

.product-price {
  font-size: 1.5em;
  font-weight: bold;
}

.add-to-cart-button {
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.add-to-cart-button:hover {
  background-color: #0056b3;
}
